<h4>
    中央氣象局雨量資訊
    <button class="btn btn-default btn-xs" (click)="addItem()">＋</button>
</h4>

<div class="button-group" *ngFor="let item of selectedStations; let i = index">
    <select class="select-item" name="item_{{i}}" [(ngModel)]="selectedStations[i]" (ngModelChange)="onSelectChange($event,i)">
      <option *ngFor="let station of stations">{{station}}</option>
    </select>
    <button class="btn btn-xs btn-danger" (click)="deleteItem(i)">－</button>
</div>
<p *ngIf="selectedStations.length===0">尚未選擇資料...</p>
<hr>